<header class="row">
  <h1 class="text-center col-sm-12">
    <span class="label label-primary">{{CurrChamp.name}}: {{CurrChamp.title}}</span>
  </h1>
  </header>
  <h3 class="text-center col-sm-12">{{CurrChamp.tags[0]}}, {{CurrChamp.tags[1]}}</h3>
<a href="#Home" class="btn btn-primary">Return</a>
  
  <div class="row">
  
  <article class="panel panel-defualt col-sm-3">
  <h2 class="text-center">Skins</h2>
  <div id="skinCaro" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#skinCaro" data-slide-to="0" class="active" data-toggle="tooltip" title="Defualt"></li>
    <li data-target="#skinCaro" ng-repeat="i in CurrChamp.skins" ng-if="$index > 0" data-slide-to="{{i.num}}"  data-toggle="tooltip" title="{{i.name}}"></li>
  </ol>
  
  <div class="carousel-inner" role="listbox">
    <div class="item active" data-toggle="tooltip" title="Defualt">
    <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{CurrChamp.key}}_0.jpg" class="img-rounded" width="256" height="512"></img>      
    </div>
    
    <div class="item" ng-repeat="it in CurrChamp.skins" ng-if="$index > 0" data-toggle="tooltip" title="{{it.name}}">
      <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{CurrChamp.key}}_{{it.num}}.jpg" class="img-rounded" width="256" height="512">
    </div>
  </div>
  
  </div>
  </article>
    
  <article class="panel panel-defualt col-sm-3">
  <h2 class="text-center">Lore</h2>
  <p ng-bind-html="CurrChamp.lore" class="panel-body text-center" style="height: 28em; overflow: scroll;">
    {{CurrChamp.lore}}
  </p>
  </article>
  
  <article class="panel panel-defualt col-sm-3">
  <h2 class="text-center">Stats</h2>    
    <div class="row">
      <!--<span class="panel-body" ng-if="{{ChampLevel}} == 0">
      Health: {{CurrChamp.stats.hp}} (+{{CurrChamp.stats.hpperlevel}})<br>
      {{CurrChamp.partype}}: {{CurrChamp.stats.mp}} (+{{CurrChamp.stats.mpperlevel}})<br>
      HPRegen: {{CurrChamp.stats.hpregen}} (+{{CurrChamp.stats.hpregenperlevel}})<br>
      {{CurrChamp.partype}}Regen: {{CurrChamp.stats.mpregen}} (+{{CurrChamp.stats.mpregenperlevel}})<br>
      Attack: {{CurrChamp.stats.attackdamage}} (+{{CurrChamp.stats.attackdamageperlevel}})<br>
      AtkSpeed: {{atkSpd}} (+{{SpdPerLvl}})<br>
      Armor: {{CurrChamp.stats.armor}} (+{{CurrChamp.stats.armorperlevel}})<br>
      MagicResist: {{CurrChamp.stats.spellblock}} (+{{CurrChamp.stats.spellblockperlevel}})<br>
      Movespeed: {{CurrChamp.stats.movespeed}}
    </span>-->
    <span class="panel-body">
      Health:{{ChampStat.HP}}<br>
      {{CurrChamp.partype}}:{{ChampStat.Res}}<br>
      HPRegen:{{ChampStat.HPReg}}<br>
      {{CurrChamp.partype}}Regen:{{ChampStat.ResReg}}<br>
      Attack:{{ChampStat.Atk}}<br>
      Ability Power:{{ChampStat.AP}}<br>
      AtkSpeed:{{ChampStat.AtkSpd}}<br>
      CritChance:{{ChampStat.Crit}}<br>
      CDR:{{ChampStat.CDR}}<br>
      Armor:{{ChampStat.Armor}}<br>
      MagicResist:{{ChampStat.MagRes}}<br>
      ArmorPen:{{ChampStat.AtkPen}}<br>
      MagicPen:{{ChampStat.APPen}}<br>
      MoveSpeed:{{ChampStat.Move}}<br>
    </span>
    </div>
    <div class="row">
      <button class="glyphicon glyphicon-chevron-left" ng-click="ChangeLevel(0)"></button> {{ChampLevel}} <button class="glyphicon glyphicon-chevron-right" ng-click="ChangeLevel(1)"></button>
      <button class="glyphicon glyphicon-refresh" ng-click="CalcStats()"></button>
    </div>
    
  </article>
  
  <article class="panel panel-defualt col-sm-3">
    <h2 class="text-center">Spells</h2>
    <a data-toggle="collapse" data-target="#passive">
    <img data-toggle="tooltip" title="{{CurrChamp.passive.name}}" src="http://ddragon.leagueoflegends.com/cdn/6.16.1/img/passive/{{CurrChamp.passive.image.full}}" class="img-rounded" width="48" height="48"></img>     
    </a>
    <a data-toggle="collapse" ng-repeat="sImg in CurrChamp.spells" data-target="#{{sImg.key}}">
    <img data-toggle="tooltip" title="{{sImg.name}}" src="http://ddragon.leagueoflegends.com/cdn/6.16.1/img/spell/{{sImg.image.full}}" class="img-rounded" width="48" height="48"></img>      
    </a>
    
    <div id="passive" class="collapse">
      <h3>{{CurrChamp.passive.name}}</h3>
      <p>{{CurrChamp.passive.description}}</p>
    </div>
    <div id="{{spell.key}}" ng-repeat="spell in CurrChamp.spells" class="collapse">
      <h3 class="text-center">{{spell.name}}</h3> <h5 class="text-right">Cooldown:{{spell.cooldownBurn}}</h5>
      <h5 class="text-right">{{CurrChamp.partype}}:{{spell.costBurn}}</h5>
      <p class="text-left">{{spell.description}}</p>
    </div>  
  </article>
</div>

<div class="row">
  
  <article class="panel panel-defualt col-sm-6 text-center">
    <h2>Build</h2>
    <a class="col-sm-2 text-center" ng-repeat="item in Build">
      <img src="http://ddragon.leagueoflegends.com/cdn/6.16.1/img/item/{{item.image.full}}" ng-click="DelBuild($index)"
  data-toggle="tooltip" title="{{item.name}}" class="img-rounded text-center" width="48" height="48"></img>
    </a>
  </article>
  
 <article class="panel panel-defualt col-sm-6 text-center">
  <h2>Items</h2>
  <div style="height: 18em; overflow: scroll;">
  <a class="text-center"  
  ng-repeat="item in ItemList" ng-if="item.hideFromAll != true" data-toggle="modal" data-target="#{{item.id}}">
  <img src="http://ddragon.leagueoflegends.com/cdn/6.16.1/img/item/{{item.image.full}}" 
  data-toggle="tooltip" title="{{item.name}}" class="img-rounded text-center" width="48" height="48"></img>
  </a>
  </div>
</article>
  
</div>

<div id="{{item.id}}" class="modal fade" role="dialog" ng-repeat="item in ItemList track by $index">
  <div class="modal-dialog modal-lg">
    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{item.name}} -- ID:{{item.id}}</h4>
      </div>
      <div class="modal-body row">
        
        <article class="col-sm-6">
        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.1/img/item/{{item.image.full}}" 
        data-toggle="tooltip" title="{{item.name}}" class="img-rounded" width="64" height="64"></img>
      <p>
        {{item.plaintext}}<br>
        {{item.sanitizedDescription}}<br>
      <span class="text-left">Cost: {{item.gold.total}}</span> <span class="text-right">Sell: {{item.gold.sell}}</span>
      </p>
        </article>
        
        <article class="col-sm-6">
          
            <div class="panel panel-defualt">
              <h4 class="text-center">Build From:</h4>
              <a ng-repeat="x in item.from track by $index" data-dismiss="modal" data-toggle="modal" data-target="#{{x}}">
                <img src="http://ddragon.leagueoflegends.com/cdn/6.16.1/img/item/{{ItemList[x].image.full}}" 
                data-toggle="tooltip" title="{{ItemList[x].name}}" class="img-rounded" width="48" height="48"></img>
              </a>
            </div>
            
            <div class="panel panel-defualt">
              <h4 class="text-center">Build Into:</h4>
              <a ng-repeat="x in item.into track by $index" data-dismiss="modal" data-toggle="modal" data-target="#{{x}}">
                <img src="http://ddragon.leagueoflegends.com/cdn/6.16.1/img/item/{{ItemList[x].image.full}}" 
                data-toggle="tooltip" title="{{ItemList[x].name}}" class="img-rounded" width="48" height="48"></img>
              </a>
            </div>            
          
        </article>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="AddBuild(item.id)" data-dismiss="modal">Add</button><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>