<div class="row">
    <h1 class="text-center">
      <span class="label label-primary">Champions</span>
      </h1>

<article class="col-md-12 text-center">
  <a href="#{{item.id}}" class="text-center"   
  ng-repeat="item in champList" data-toggle="tooltip" title="{{item.name}}: {{item.title}}">
  <img src="http://ddragon.leagueoflegends.com/cdn/6.16.1/img/champion/{{item.image.full}}" class="img-rounded" width="64" height="64"></img>
  </a>
</article>
</div>
